<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN" value="[%t][%-5p] [%d{yyyy-MM-dd HH:mm:ss}{Asia/Shanghai}] %C.%M(%L) | %m%n"/>
        <Property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}{Asia/Shanghai} %-5p &lt;%C&gt;&lt;%M&gt;(%L) | %m%n"/>
        <Property name="LOG_PATH" value="$${env:LOG_FILE_PATH:-./logs}"/>
        <Property name="LOG_LEVEL" value="$${env:APP_LOG_LEVEL:-INFO}"/>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="File" fileName="${LOG_PATH}/app.log" filePattern="${LOG_PATH}/app.log.%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${LOG_LEVEL}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
